<h1>Новый вид движения</h1>
<%= form_for(@typeofM) do |f| %>
  <p>
    <%= f.label :Название %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Тип деятельности' %><br>
    <%= f.collection_select :activity_id, TypeOfActivity.all, :id, :name %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
  <%= link_to 'Назад', type_of_movements_path %>
<% end %>