<h1>Новая коллегия </h1>

<%= form_for (@collegial) do |f| %>
  <p>
    <%= f.label :Название %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Адрес %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :Телефон %><br>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Назад', collegials_path %>
<% end %>