<h1>Изменение Типа деятельности</h1>
 
<%= form_for (@typeofD) do |f| %>
  <%= f.label 'Название' %>
  <%= f.text_field :name %>
  <%= f.submit :Сохранить%>
<% end %>
 
<%= link_to 'Назад', type_of_decision_path %>
