<h1>Новое тип решения </h1>

<%= form_for (@typeofD) do |f| %>
  <p>
    <%= f.label 'Название проекта' %><br>
   <%= f.text_field :name %>
  </p>
    <%= f.submit %>
  </p>
  <%= link_to 'Назад', type_of_decisions_path %>
<% end %>