<h1>Новое решение </h1>

<%= form_for (@f_indicator) do |f| %>
  <p>
    <%= f.label :Название_проекта %><br>
    <%= f.text_field :name %>
  </p>
    <%= f.submit %>
  </p>
  <%= link_to 'Назад', financial_indicators_path %>
<% end %>