<h1>Изменение Типа деятельности</h1>
 
<%= form_for (@typeofA) do |f| %>
  <%= f.label :Название%>
  <%= f.text_field :name %>
  <%= f.submit :Сохранить%>
<% end %>
 
<%= link_to 'Назад', type_of_activities_path %>
