<h1>Притоки/Оттоки</h1>
  <table class="table table-striped">
    <th>Название притока/оттока</th>
    <th>Вид движения</th>
    <th>Название проекта</th>
    <th>Сумма</th>
    <th>Дата выдачи</th>
    <% @inflowsoutflow.each do |inout| %>
      <% date = inout.date_f  %>  
      <% dates = date::strftime("%D") %>
      <tr>
        <td><%= link_to inout.name, inout%></td>
        <td><%= link_to inout.movement.name, inout%></td>
        <td><%= inout.project.name %></td>
        <td><%= inout.total %></td>
        <td><%= dates %></td>
        <% end %>
      </tr>
  </table>

<%= link_to 'Новые притоки/оттоки', new_inflows_outflow_path %>